{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

    {{> header cegHero="Q8060009-106-hero.jpg" cegTitle="Best Men's Winter Jackets"}}
<div class="ceg-content">

    <div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Best Men&rsquo;s Winter Jackets</h1>
            <p>When winter comes, are you prepared with the best <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats?id=3763">men&rsquo;s winter jackets</a>? From bombers to puffers, Macy&rsquo;s has the perfect men&rsquo;s jackets to make your wardrobe winter-ready. Check out the latest jacket designs from your favorite brands like Calvin Klein, Tommy Hilfiger and Michael Kors.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What are the best men&rsquo;s jackets?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-02.jpg" alt="Bomber Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>BOMBER JACKET</strong><br>Look fly this cold-weather season in a men&rsquo;s <a href="{{ENV_HOSTNAME}}/shop/b/bomber-jacket/Gender/Men?id=71408">bomber jacket</a>. What is a bomber jacket? A bomber jacket is a short jacket that is banded at the cuffs and waist, featuring a zip-front closure. Bomber jackets were initially leather jackets worn by fighter pilots, and have since evolved into varsity-style jackets. How do you wear a bomber jacket? Layer your shirts and lightweight sweaters with a bomber jacket for a trending look. Want to make a stylish statement? Get a trendy look in velvet, camo-print, colorblocked or sequined bomber jackets. Want to keep things more standard? Scope out bomber jackets in basic neutrals, like black, gray, brown and navy blue. Sport a lightweight layer this season with a men&rsquo;s bomber jacket from brands like Calvin Klein, I.N.C. International Concepts<sup>&reg;</sup> and GUESS.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-03.jpg" alt="Denim Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>DENIM JACKET</strong><br>Rock a classic vibe with a men&rsquo;s denim jacket—it&rsquo;s a perfect lightweight layer. How do you keep this look basic? Sport a <a href="{{ENV_HOSTNAME}}/shop/b/denim-jackets-for-men?id=75826">jean jacket</a> in various shades of blue. Do you want a trending look? Scope out denim jackets with distressing, hardware details, camo prints, acid washes, patches and paint splatters. Check out styles in black, gray or white for modern appeal. How do you get a cozy feel? Look for denim jackets with Sherpa collars or lining. Looking for jean jacket outfits for men? Pair a jean jacket with a hoodie for a casual streetwear vibe. Partnering a cashmere sweater and khakis with your denim jacket or trucker jacket is another option. Want a cooler lineup? Flaunt a studded denim jacket with a plain white T-shirt and joggers. Layer your casual wardrobe with the latest denim jackets for men from Levi's<sup>&reg;</sup>, Calvin Klein Jeans and American Rag.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-04.jpg" alt="Leather Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>LEATHER JACKET</strong><br>Want to be a rebel with a stylish cause? A genuine <a href="{{ENV_HOSTNAME}}/shop/b/mens-leather-jackets?id=71439">leather jacket</a> is an investment piece that will instantly rev up your casual look. If you don&rsquo;t want to break the bank, you can always look for faux-leather styles (also called vegan leather jackets). What do you rock with a men&rsquo;s leather jacket? Link up a leather moto jacket with your favorite T-shirt and ripped jeans for a classically cool look. Need a more polished vibe? Partner a leather bomber jacket with a cashmere sweater and chinos. What color leather jacket should you sport? Go beyond basic black and brown and check out new neutrals, like tan, gray and olive. Step up your style in the latest men&rsquo;s leather jackets from Michael Kors, Cole Haan and Polo Ralph Lauren.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-05.jpg" alt="Packable Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>PACKABLE JACKET</strong><br>Do you need a jacket that travels well? A <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Packable?id=3763">packable jacket</a> can easily be compressed into its own pouch for convenient transport in suitcases and backpacks. A men&rsquo;s packable down jacket offers protection from the cold without being bulky and options with hoods add warmth. Being lightweight, a men&rsquo;s packable down jacket can be worn as a layer under your wool coats. Travel light this winter with a men&rsquo;s packable down jacket from go-to brands like Hawke & Co., Polo Ralph Lauren and Tommy Hilfiger.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-06.jpg" alt="Puffer Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>PUFFER JACKET</strong><br>Baby, it&rsquo;s cold outside! Quilted jacket? Bubble jacket? Puffer jacket? Whatever you call it, these warm winter jackets will give you style for work or play. What is a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Puffer?id=3763">puffer jacket</a>? A puffer jacket features a quilted design filled with insulation to provide warmth while being lightweight. A puffer vest features a sleeveless design that warms your core. Stay warmer in a down-filled puffer jacket, featuring a high fill power and a detachable fur hood. Remember to wear layers with your men&rsquo;s puffer jacket to provide extra protection against the cold. What do you pair with your puffer jacket? Top off your puffer jacket with a hat, gloves and a scarf. Brave the cold and bundle up with the warmest men&rsquo;s puffer jackets from top brands like The North Face, Michael Kors and Nautica.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-07.jpg" alt="Rain Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>RAIN JACKET</strong><br>Stay dry in a downpour with a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Raincoat?id=3763">rain jacket</a>. What is a rain jacket? A men&rsquo;s rain jacket is made of water-resistant and breathable materials to keep you from getting wet in the rain. Ensure that your rain jacket features a hood for maximum protection against the elements. What do you pair with a rain coat? Waterproof pants are a perfect match for your rain jacket. Don&rsquo;t let the rain delay your favorite activities&ndash;sport a men&rsquo;s rain jacket from Michael Kors, The North Face, London Fog and Calvin Klein.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-08.jpg" alt="Sport Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>SPORT JACKET</strong><br>Do you need a polished layer for your fall/winter lineup? Complete your look with a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-blazers-sports-coats?id=16499">sport jacket</a> for a refined feel. Whether you&rsquo;re going to the office or to dinner, a sport coat is a must-get for a gentlemen&rsquo;s wardrobe. Find your perfect fit, whether it&rsquo;s skinny, slim, modern or classic. For multiple styling options, black, navy and gray sport coats are a versatile choice. Do you want your sport jacket to make a statement? Stand out from the crowd in a plaid or printed sport coat. What do you wear with a sport coat? Pair your sport coat with a button-down shirt and dress pants for a sharp outfit. Look your best in the latest men&rsquo;s sport coats from Ryan Seacrest Distinction, Lauren Ralph Lauren and Tommy Hilfiger.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-106-09.jpg" alt="Down Jacket">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>DOWN JACKET</strong><br>Warm up this winter in a down jacket! What is a down jacket? A down jacket is insulated with duck and geese feathers to provide warmth while being lightweight. The quality of the down in measured by the down fill. Check out water-resistant jackets with a higher down fill for maximum warmth. Also, look for down jackets featuring hood and hem drawstrings plus internal, external and hidden pockets. Remember to team up your down jacket with cold-weather accessories like hats, gloves and scarves. Find the upside of cold weather in men&rsquo;s down jackets from Hawke & Co. Outfitter, Tommy Hilfiger and Michael Kors.</li>
            </ul>
        </div>
    </div>
</div>
    {{> might-also }}

<script src="../{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="../{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>