{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8060009-105-hero.jpg" cegTitle="Layering for Cold Weather"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Layering for Cold Weather</h1>
            <p>Live in a cold climate, work outdoors, play cold-weather sports or recently moved somewhere more frigid than you&rsquo;re used to? Then it&rsquo;s important to learn the basics of layering for cold weather.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">
            <h2>How To Add Layers For Cold Weather?</h2>
            <p>The key to staying warm in very cold conditions is by layering clothes instead of wearing one layer of thick, heavy items. Macy&rsquo;s has everything you need to create the warmest (and most stylish) outfits you can dream up.</p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-02.jpg" alt="Start with a thermal base layer">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>1. START WITH A THERMAL BASE LAYER.</h5>
            <p class="ceg-b32">
                It&rsquo;s important to build a solid foundation if you plan to stay warm this winter. A thermal base layer should be worn closest to your skin. Make sure it&rsquo;s quick-drying, retains heat and is comfortable. Brands like 32 Degrees, Polo Ralph Lauren, 2(X)IST and Alfani (created for Macy&rsquo;s) have solid options in various designs and colors. Here are a few options to get you started:
            </p>
            <ul class="bullet-list">
                <li><strong>Thermal Underwear.</strong> Whether <a href="{{ENV_HOSTNAME}}/shop/b/mens-thermal-underwear?id=72557">thermal underwear</a> or long johns, allow men&rsquo;s thermals including be your first layer of protection.</li>
                <li><strong>Thermal Undershirts.</strong> A full-coverage undershirt will provide all-day comfort. Stock up on crewnecks, mock necks and henleys in a moisture-wicking fabric or a warm waffle weave.</li>
                <li><strong>Thermal Leggings.</strong> Thin fabric with lots of stretch is key when it comes to thermal leggings. They should fit seamlessly underneath your pants and allow you to be flexible.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-03.jpg" alt="Add a sweater">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>2. ADD A SWEATER.</h5>
            <p class="ceg-b32">
                Now that you&rsquo;ve got momentum with a base layer, keep it going by adding a thin, lightweight <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-sweaters?id=4286">sweater</a> in any of these crowd-pleasing styles:
            </p>
            <ul class="bullet-list">
                <li><strong>Crewneck.</strong> A classic for a reason, a simple <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-sweaters/Sweater_style/Crew%20Neck?id=4286">crewneck sweater</a> works well with both casual and dressed-up outfits. Take your pick of timeless and trendy colors.</li>
                <li><strong>V-Neck.</strong> A super-versatile sweater you&rsquo;ll reach for again and again. The trick is to layer the <a href="{{ENV_HOSTNAME}}/shop/b/mens-v-neck-sweaters?id=72218">V-neck</a> over a polished button-up shirt or simple T-shirt.</li>
                <li><strong>Turtleneck.</strong> Who needs a scarf when your sweater will keep your neck warm? Men&rsquo;s turtlenecks are having a moment and they look great with almost everything from jeans to trousers.</li>
                <li><strong>Quarter Zip.</strong> The simple pullover has gone modern. This athletic-inspired style is elevated thanks to discreet zippers, fresh fabrics and a tailored fit.</li>
                <li><strong>Full Zip.</strong> The <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-sweaters/Sweater_style/Full%20Zip?id=4286">full-zip sweater</a> can be worn a couple different ways&ndash;rock it fully zipped as a sweater or unzipped as a jacket. It&rsquo;s also the perfect backdrop to showcase your personal style through mixed media, prints and colorblocking.</li>
                <li><strong>Hoodie.</strong> The ultimate laid-back option, a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/hoodies-for-men/Sweater_style/Hoodie?id=25995">hoodie</a> is great for casual days. Modern versions actually go beyond sportswear thanks to their sleek tailoring and neutral colors.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-04.jpg" alt="Pick the right fabrics">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>3. PICK THE RIGHT FABRICS.</h5>
            <p class="ceg-b32">
                Your top layer should be made of a fabric that will keep you toasty and look stylish. Here are a few cold-weather favorites to keep on your radar:
            </p>
            <ul class="bullet-list">
                <li><strong>Cashmere.</strong> This luxurious fabric is ultra soft and lightweight but still warm. It&rsquo;s used in a variety of sweater styles including crew neck and V-neck. It&rsquo;s ideal for layering underneath a heavy winter coat or jacket. Club Room (Created for Macy&rsquo;s) specializes in cashmere that&rsquo;s perfect for cold-weather layering. How to wash cashmere? Always follow the tag&rsquo;s instructions, but typically, it&rsquo;s best to avoid machine washing or drying cashmere. Instead, handwash cashmere using a mild soap and lukewarm water.</li>
                <li><strong>Merino Wool.</strong> Fine, soft, washable and easy to care for, we carry beautiful merino wool sweaters from Calvin Klein, Club Room (Created for Macy&rsquo;s), Tasso Elba (Created for Macy&rsquo;s) and more. Often seen in pullover sweaters with various necklines such as crew neck, V-neck, quarter zip and full zip. How to wash wool? Follow the care instructions on the garment tag.</li>
                <li><strong>Moisturize-Wicking.</strong> Sweat still happens in cold temperatures, so it&rsquo;s important to make sure the layer that&rsquo;s closest to your skin has moisture-wicking properties. It&rsquo;s a great way to ensure you stay warm and dry.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-05.jpg" alt="Keep your feet insulated">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>4. KEEP YOUR FEET INSULATED.</h5>
            <p class="ceg-b32">
                Finding a great pair of winter boots is only half the battle. The socks you choose to layer with your boots can help your feet stay even warmer. Pick thick, wool socks if you have room. Ankle-length socks are best to wear with boots to help keep them in place.
            </p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-06.jpg" alt="Top it off with a winter coat.">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>5. TOP IT OFF WITH A WINTER COAT.</h5>
            <p class="ceg-b32">
                Baby, it&rsquo;s cold outside, so top-notch <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats?id=3763&cm_sp=us_hdr-_-men-_-3763_coats-%26-jackets_COL1">outerwear</a> is essential to help you survive the cold temperatures and wet weather. Find a waterproof or water-resistant winter coat like a parka, down coat or puffer. Make sure it speaks to your personal style since it will be front and center all season.
            </p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-07.jpg" alt="Add on cold-weather accessories">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>6. ADD ON A COLD-WEATHER ACCESSORIES.</h5>
            <p class="ceg-b32">
                Finish with the usual suspects: a hat, scarf and gloves. Pick the right one based on your lifestyle and style preferences.
            </p>
        </div>
    </div>

     <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>A shopping list for cold-weather layering?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-105-08.jpg" alt="A shopping list for cold-weather layering?">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32">
                Here&rsquo;s a quick round up of everything you should stock up on to stay warm this winter:
            </p>
        </div>
        <div class="large-6 small-10 large-centered small-centered column">
            <ul class="bullet-list bullet-list-layering left">
                <li>Thermals</li>
                <li>Undershirts</li>
                <li>Leggings</li>
                <li>Sweaters</li>
                <li>Socks</li>
            </ul>

            <ul class="bullet-list bullet-list-layering right">
                <li>Winter Coats</li>
                <li>Hats</li>
                <li>Scarves</li>
                <li>Gloves</li>
            </ul>
        </div>
    </div>    
</div>
	{{> might-also }}

<script src="../{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="../{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>