{{! Load CSS First }}
<link href="{{version}}/common.css" rel="stylesheet">

{{> header cegHero="Q8060009-101-hero.jpg"}}
<div class="ceg-content">
	<div class="row ceg-hero-text">
        <div class="large-11 small-10 large-centered small-centered column">
            <h1>Men&rsquo;s Guide To Dressing For Cold Weather</h1>
            <p>Want to take the brrr out of winter with a cold-weather wardrobe? Our men&rsquo;s guide is here to help! There&rsquo;s an art to getting dressed for cold weather; it takes a little dedication and knowledge of the basics to create outfits that are both warm and stylish. Here&rsquo;s how you do it…</p>
        </div>
    </div>

    <div class="row">
        <div class="large-9 small-10 large-centered small-centered column">

            <h2>The Right Accessories are Essential</h2>

            <p class="ceg-b32">How you accessorize your outfit is especially critical during colder months because cold-weather accessories play a vital role in keeping you warm and toasty. From head to toe, we&rsquo;ve rounded up tips on how to spot the best hats, scarves, gloves and boots.</p>
        </div>
    </div>

    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link ceg-image-link-special">
        <div class="large-3 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/glove-size-chart/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-02.jpg" alt="Glove Size Chart">
                <p>Glove Size Chart</p>
            </a>
        </div>
        <div class="large-3 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/best-winter-hats/">
                <img class="ceg-image-link-special-height" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-03.jpg" alt="Best Winter Hats - Men's">
                <p>Best Winter Hats - Men&rsquo;s</p>
            </a>
        </div>
        <div class="large-3 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/how-to-tie-a-scarf/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-04.jpg" alt="How to tie a Scarf - Men's Scarves">
                <p>How to tie a Scarf - Men&rsquo;s Scarves</p>
            </a>
        </div>
        <div class="large-3 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/best-winter-boots/">
                <img class="ceg-image-link-special-height" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-05.jpg" alt="Best Winter Boots - Men's">
                <p>Best Winter Boots - Men&rsquo;s</p>
            </a>
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h2>Outerwear is Your Key Component</h2>
            <p class="ceg-b32">The coat or jacket you wear this winter will be front and center all season, so make it a good one. Check out our winter jacket and winter coat recommendations to help keep you warm whether you&rsquo;re commuting to work or headed on a ski vacation.</p>
        </div>
    </div>


    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link ceg-image-link-special ceg-image-link-special-section2">
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/best-winter-jackets/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-06.jpg" alt="Best Men's Winter Jackets">
                <p>Best Men&rsquo;s Winter Jackets</p>
            </a>
        </div>
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/warmest-winter-coats/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-07.jpg" alt="Warmest Winter Coats for Men">
                <p>Warmest Winter Coats for Men</p>
            </a>
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h2>Tips for Putting It All Together</h2>
            <p class="ceg-b32">When the weather outside is frightful, putting together an outfit that&rsquo;s delightful may be the last thing on your mind. Resist the urge to pile on lots of heavy layers! We&rsquo;ve broken down the proper way to layer for maximum warmth while holding onto your personal style&ndash;there&rsquo;s no reason a little snow and ice should get in the way of an awesome outfit.</p>
        </div>
    </div>


    <div class="row ce-mobile-collapse ce-mobile-full ceg-image-link ceg-image-link-special ceg-image-link-special-section3">
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/layering-for-cold-weather/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-08.jpg" alt="Layering for Cold Weather">
                <p>Layering for Cold Weather</p>
            </a>
        </div>
        <div class="large-6 small-12 column">
            <a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/what-to-wear-skiing-snowboarding/">
                <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-101-09.jpg" alt="What to Wear Skiing and Snowboarding">
                <p>What to Wear Skiing &amp; Snowboarding</p>
            </a>
        </div>
    </div>
</div>

	{{> might-also }}

{{! Load  JS Last so DOM is already present }}
<script src="{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>
