{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8060009-107-hero.jpg" cegTitle="Warmest Winter Coats for Men"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Warmest Winter Coats for Men</h1>
            <p>Are you down for cold weather? Whether you&rsquo;re shoveling your driveway or hitting the slopes, stay warmer in sub-zero weather in Macy&rsquo;s collection of <a href="{{ENV_HOSTNAME}}/shop/featured/mens-winter-coat">men&rsquo;s winter coats</a>. From wool peacoats to down puffer coats, scope out toasty options from your favorite brands, like Polo Ralph Lauren, The North Face and Columbia.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What are the warmest coat materials?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-107-02.jpg" alt="What are the warmest coat materials?">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><p><strong>DOWN</strong><br>Not all winter coats are created equal, so stay warmer in frigid temperatures with down fill. What is down fill? Down fill comes from the soft undercoat of feathers from ducks and geese, and is used for the insulation of coats and jackets. How do you determine which <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Fabric/Down?id=3763">down coats</a> are the best? The quality of the down is measured by the fill power, which ranges from 300 to 900. The higher the fill power, the better the coat will be at trapping in body heat. Another factor that determines the warmth of a coat is the fill weight, which measures how much down was used to produce the coat. A heavier fill weight means the coat will be warmer. The final component that determines the warmth of a down coat is the down-to-feather ratio. The first number represents the percentage of down in the coat, while the second number represents the percentage of feathers. The higher the first number, the warmer the coat will be. Thus, a coat with a down-to-feather ratio of 90/10 will be warmer than a coat with a ratio of 70/30. Be the warmest of the flock in a packable down coat this winter.</p></li>
                <li><p><strong>WOOL</strong><br>Dress to impress in a wool coat this winter. <a href="{{ENV_HOSTNAME}}/shop/b/mens-wool-jackets?id=74864">Wool coats</a>, like peacoats and overcoats, are made from the hair of sheep. From business casual to formal attire, men&rsquo;s wool coats are essential to pair with cashmere sweaters, dress pants, suits and tuxedos. Go beyond a basic black wool coat, and make a stylish impression in other neutrals, like camel, gray, navy or olive. Want to add luxury to your wool coat? Look for styles blended with cashmere, mohair, Angora rabbit hair or alpaca wool for a plush finish. To provide more warmth under your wool coat, you might want to wear a lightweight puffer jacket or vest. Separate yourself from the herd in stylish men&rsquo;s wool coats from Calvin Klein, Lauren Ralph Lauren and Michael Kors.</p></li>
                <li><p><strong>SUEDE</strong><br>Are you looking for a luxe look? Top off your fall/winter outfits with a premium suede jacket. Suede is a type of leather with a napped or fuzzy finish that is softer and less durable than regular leather. Made for style, suede jackets are a plush piece for your casual look. If you don&rsquo;t want to spring for the real thing, scope out faux-suede styles for a cost-effective solution. Team up your suede jacket with a cashmere sweater and dark-wash jeans for prime style. Get a suave finish for your style with a suede jacket plus men&rsquo;s suede boots like Chelsea boots or chukka boots from Macy&rsquo;s.</p></li>
                <li><p><strong>LEATHER</strong><br>Be the essence of cool in a leather jacket this cold-weather season. Leather jackets are built more for style than warmth&ndash;take your pick of leather bomber, motorcycle and biker jackets. To keep warmer in cooler months, look for leather jackets with removable liners. Pair up your leather jacket with a sweater and khakis to be the boss of business casual. Link up a leather jacket with a T-shirt and ripped jeans for a chill vibe. A genuine leather jacket is a timeless investment piece that only gets better with age&ndash;treat yourself to one this season! On a budget? A faux leather jacket is great alternative. Check out designer leather jackets from brands including Polo Ralph Lauren, Cole Haan and Marc New York.</p></li>
                <li><p><strong>FUR</strong><br>Are you looking to make a bold statement this winter? A men&rsquo;s fur coat from The Fur Vault is the perfect indulgence to keep you very warm and stylish. Since a fur coat is a big expense, invest in a neutral color and style that will stand the test of trends. To get more for your money, consider a reversible jacket that features fur on one side and leather on the other&ndash;it&rsquo;s like getting two jackets for the price of one! For something more understated, then try a fur-lined jacket.</p></li>
                <li><p><strong>SHEARLING</strong><br>What kind of jacket do you get when you combine suede and lamb fur? A shearling jacket features a suede exterior with a lamb-fur lining. If a fur coat is a bit too bold for your liking, a shearling coat is a safer bet. Invest wisely in a darker neutral color, like black or brown, that won&rsquo;t get dirty too quickly. Stand out from the herd in a stylish shearling jacket from Macy&rsquo;s.</p></li>
                <li><p><strong>FAUX (AS IN FAKE) LEATHER, SUEDE, FUR &amp; SHEARLING</strong><br>Do you want to be stylish and save money? Look for faux versions of pricy jackets, like leather, suede, fur and shearling. Besides being affordable, what are the benefits of faux-leather, faux-suede, faux-fur and faux-shearling jackets? These faux jackets are lower maintenance, more durable and vegan. If you&rsquo;re for the ethical treatment of animals or you just like a bargain, check out Macy&rsquo;s selection of faux-leather, faux-suede, faux-fur and faux-shearling jackets.</p></li>

            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What are the warmest men&rsquo;s coats?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-107-03.jpg" alt="What are the warmest men's coats?">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><p><strong>PEACOAT</strong><br>Say ahoy to classic style with a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Peacoat?id=3763">peacoat</a>. What is a peacoat? A peacoat is a double-breasted, short coat made of wool that was historically worn by sailors. Now, peacoats are a standard for fall/winter style. How do you wear a peacoat? Pair up your peacoat with a sweater and ripped jeans for a laidback look. Anchor your casual wardrobe with a men&rsquo;s peacoat this cold-weather season from brands including Calvin Klein and Michael Kors.</p></li>
                <li><p><strong>RAINCOAT</strong><br>Don&rsquo;t let a downpour dampen your style. Sport a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Raincoat?id=3763">raincoat</a> made of water-resistant materials in inclement weather. How is a raincoat different from a rain jacket? A raincoat goes past the waist, while a rain jacket hits at the waist. Having a longer silhouette, a raincoat lends itself for dressier occasions calling for a suit or slacks. When stormy weather hits, stay dry and dapper in men&rsquo;s raincoats, available at Macy&rsquo;s.</p></li>
                <li><p><strong>PUFFER COAT</strong><br>Do you have a proper buffer against the cold? Showcasing a quilted and lightweight design that provides insulation, a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Puffer?id=3763">puffer coat</a> is a must-get for winter. Want one that&rsquo;s trending? Check out puffer coats with bold prints and colorful metallics. Remember to scope out styles with plenty of pockets to stow away gloves and other cold-weather essentials. What do you link up with your puffer jacket? Pair up your puffer coat with jeans and a cozy sweater for a casual feel. Weather winter storms in men&rsquo;s puffer coats from Columbia, Tommy Hilfiger, Michael Kors and Calvin Klein.</p></li>
                <li><p><strong>TRENCH COAT</strong><br>Is rain predicted in the forecast? Tie up a sharp look with a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Trenchcoat?id=3763">trench coat</a>.  What is a trench coat? A trench coat is a double-breasted, full-length coat, featuring a belted waist, storm flaps and tab closures at the cuffs. Traditionally, these khaki-colored coats were used for the military. Now, trench coats are a staple for lightweight layering and are available in an array of neutral colors. For added warmth, look for trench coats with removable liners. Punctuate your classic style this season with a men&rsquo;s trench coat from top brands like Michael Kors, Calvin Klein and London Fog.</p></li>
                <li><p><strong>OVERCOAT</strong><br>You&rsquo;ll never be underdressed in an overcoat. What is an <a href="{{ENV_HOSTNAME}}/shop/b/mens-overcoat?id=71835">overcoat</a> vs. a trench coat? An overcoat is a long wool coat that is typically worn over a suit. This coat is definitely designed more for looks, so in extreme weather you might want to layer a slim-fitting puffer vest or jacket underneath your overcoat. For a relaxed look, you can totally rock an overcoat with jeans and sneaks. If you really want to make a statement, sport a camel overcoat in lieu of the traditional gray, black and navy. Sharpen up your cold-weather look in men&rsquo;s overcoats from Lauren Ralph Lauren, London Fog and Tommy Hilfiger.</p></li>
                <li><p><strong>LEATHER COAT</strong><br>Want to look hot and be warm this winter? Score major style points with a leather coat this cold-weather season. How is a leather coat different from a leather jacket? Hitting below the waist, a leather coat is longer than a leather jacket and has more insulation. How do you luxe up this look? Scope out leather coats with fur details. From business casual to weekend fun, a leather coat will lend a cool vibe to your fall/winter lineup.</p></li>
                <li><p><strong>PARKA</strong><br>Conquer arctic blasts in a <a href="{{ENV_HOSTNAME}}/shop/mens-clothing/mens-jackets-coats/Coat_style/Parka?id=3763">parka</a> this winter. What is parka? A parka is a heavyweight, hooded coat designed to withstand the harsh elements of winter. For prime protection against snow and sleet, scope out waterproof parkas with high fill counts. What do you wear with your parka? To ensure that you&rsquo;re warm, sport plenty of layers with your parka. For streetwear style, opt for a men&rsquo;s parka with a fur hood. Stock up on thermal underwear and cozy sweaters for a more pleasant winter. Drive the cold away in men&rsquo;s parkas from your fave brands, like The North Face, Tommy Hilfiger and Marmot.</p></li>
                <li><p><strong>PACKABLE COAT</strong><br>Whether you&rsquo;re hiking or traveling, a packable coat is totally handy. A packable coat includes its own pouch for easier transport in backpacks and suitcases. Being lightweight, a packable puffer coat protects against the elements without being hefty. Check out packable coats with down fill and drawstring hoods for extra warmth. Have a bon voyage in a men&rsquo;s packable coats from Michael Kors, Columbia or Hawke & Co.</p></li>
                <li><p><strong>WEATHERPROOF COAT</strong><br>Do you need a foolproof plan to stay warm this winter? A weatherproof coat is made of water-resistant and windproof materials to protect you from the elements. What are the different types of weatherproof coats? A hard-shell coat features a waterproof and windproof design that has limited breathability. They are great for skiing and snowboarding. A soft-shell coat features a water-resistant design that is breathable and moisture wicking. These coats are best for climbing. Whether you&rsquo;re hitting the slopes or braving a blizzard, a weatherproof coat will keep you toasty in tough conditions.</p></li>
                <li><p><strong>DOWN COAT</strong><br>What are the benefits of a down coat? A down coat has a great warmth-to-weight ratio, so it keeps you warm while being lightweight. Since they can be stowed away easily in a packable pouch, down coats are perfect for those engaging in outdoor activities, like hiking, climbing and skiing. How do you stay warmer while you&rsquo;re out and about? Scope out down coats with drawstrings that tighten to keep the cold air out. Whether you&rsquo;re walking to work or scaling mountains, shore up your winter gear with a down coat.</p></li>
            </ul>
        </div>
    </div>
</div>
	{{> might-also }}

<script src="../{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="../{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>