<div class="ceg-header-placement"></div>
<div class="row ce-mobile-full ce-mobile-collapse ceg-nav-wrapper">
    <div class="small-12 columns">
        <div class="ceg-menu">
            <div class="ceg-menu-header">
                <span>MEN&rsquo;S GUIDE TO DRESSING FOR COLD WEATHER</span>
                <div class="ceg-menu-header-plus-minus"></div>
            </div>

            <div class="ceg-menu-content">
                <div class="ceg-menu-maxwidth">
                    <div class="ceg-menu-content-left">
                        <span>THE RIGHT ACCESSORIES ARE ESSENTIAL</span>
                        <ul style="margin-left:0;">
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/glove-size-chart/">Glove Size Chart</a></li>
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/best-winter-hats/">Best Winter Hats for Men</a></li>
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/how-to-tie-a-scarf/">How to Tie a Scarf - Men&rsquo;s Scarves</a></li>
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/best-winter-boots/">Best Winter Boots for Men</a></li>
                        </ul>

                        <span class="menu-top-margin">OUTERWEAR IS YOUR KEY COMPONENT</span>
                        <ul style="margin-left:0;">
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/best-winter-jackets/">Best Men&rsquo;s Winter Jackets</a></li>
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/warmest-winter-coats/">Warmest Winter Coats for Men</a></li>
                        </ul>
                    </div>
                    <div class="ceg-menu-content-right"> 
                        <span>TIPS FOR PUTTING IT ALL TOGETHER</span>
                        <ul style="margin-left:0;">
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/layering-for-cold-weather/">Layering for Cold Weather</a></li>
                            <li><a href="{{ENV_HOSTNAME}}/p/how-to-dress-for-cold-weather/what-to-wear-skiing-snowboarding/">What to Wear Skiing &amp; Snowboarding</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{! trigger for mobile only JS }}

<div class="show-for-large-up"></div>